<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="EUC-KR">
    <title>Taco Cloud</title>
  </head>
  <body>
	<h1>Login</h1>
    <img th:src="@{/images/TacoCloud.jpg}" width="600" height="400"/>
<pre><code>&lt;div th:if=&quot;${error}&quot;&gt;Unable to login. Check your username and
	password.&lt;/div&gt;
	
&lt;p&gt;
	New here? Click &lt;a th:href=&quot;@{/register}&quot;&gt;here&lt;/a&gt; to register.
&lt;/p&gt;

&lt;!-- tag::thAction[] --&gt;
&lt;form method=&quot;POST&quot; th:action=&quot;@{/login}&quot; id=&quot;loginForm&quot;&gt;
&lt;!-- end::thAction[] --&gt;
  &lt;label for=&quot;username&quot;&gt;Username: &lt;/label&gt;
  &lt;input type=&quot;text&quot; name=&quot;username&quot; id=&quot;username&quot; /&gt;&lt;br/&gt;

  &lt;label for=&quot;password&quot;&gt;Password: &lt;/label&gt;
  &lt;input type=&quot;password&quot; name=&quot;password&quot; id=&quot;password&quot; /&gt;&lt;br/&gt;

  &lt;input type=&quot;submit&quot; value=&quot;Login&quot;/&gt;
&lt;/form&gt;
</code></pre>
  </body>
</html>
